*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}

body{
    height: 100vh;
    background-color: black;
}

h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

#first{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap:30px;
    flex-wrap: wrap;
}

.user{
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 20px;
    color:blue;
}

a{
    text-decoration: none;
    color: orange;
    margin-top: 10px;
    display: inline-block;
}